<main style="background-color: #dfdfe0;">
    <div class="px-4 py-5  text-center">
        <h1 class="display-5 fw-bold titulo-cliente" style="color: rgba(0,0,0,0.55);">Hola, nuestro Portafolio</h1>

        <div class="col-lg-6 mx-auto">
            <a class="btn btn-outline-light btn-floating m-1 bg-dark"
                href="https://www.facebook.com/profile.php?id=100041258748192" target="_blank" role="button"><i
                    class="fab fa-facebook-f"></i></a>
            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1 bg-dark" href="https://www.instagram.com/michoscake1/"
                target="_blank" role="button"><i class="fab fa-instagram"></i></a>
        </div>
    </div>

    <div class="container pb-5">
        <div class="row  pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row el-element-overlay">
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="el-card-item">
                                <div class="el-card-avatar el-overlay-1">
                                    <img src="./assets/img/portafolio/19.jpg" alt="user" />
                                    <div class="el-overlay">
                                        <ul class="list-style-none el-info">
                                            <li class="el-item">
                                                <a class="
                              btn
                              default
                              btn-outline
                              image-popup-vertical-fit
                              el-link
                            " href="./assets/img/portafolio/19.jpg"><i class="mdi mdi-magnify-plus"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="el-card-item">
                                <div class="el-card-avatar el-overlay-1">
                                    <img src="./assets/img/portafolio/flour.jpg" alt="user" />
                                    <div class="el-overlay">
                                        <ul class="list-style-none el-info">
                                            <li class="el-item">
                                                <a class="
                              btn
                              default
                              btn-outline
                              image-popup-vertical-fit
                              el-link
                            " href="./assets/img/portafolio/flour.jpg"><i class="mdi mdi-magnify-plus"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="el-card-item">
                                <div class="el-card-avatar el-overlay-1">
                                    <img src="./assets/img/portafolio/bobesponja.jpg" alt="user" />
                                    <div class="el-overlay">
                                        <ul class="list-style-none el-info">
                                            <li class="el-item">
                                                <a class="
                              btn
                              default
                              btn-outline
                              image-popup-vertical-fit
                              el-link
                            " href="./assets/img/portafolio/bobesponja.jpg"><i class="mdi mdi-magnify-plus"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="el-card-item">
                                <div class="el-card-avatar el-overlay-1">
                                    <img src="./assets/img/portafolio/cars.jpg" alt="user" />
                                    <div class="el-overlay">
                                        <ul class="list-style-none el-info">
                                            <li class="el-item">
                                                <a class="
                              btn
                              default
                              btn-outline
                              image-popup-vertical-fit
                              el-link
                            " href="./assets/img/portafolio/cars.jpg"><i class="mdi mdi-magnify-plus"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="el-card-item">
                                <div class="el-card-avatar el-overlay-1">
                                    <img src="./assets/img/portafolio/cumpleanos.jpg" alt="user" />
                                    <div class="el-overlay">
                                        <ul class="list-style-none el-info">
                                            <li class="el-item">
                                                <a class="
                              btn
                              default
                              btn-outline
                              image-popup-vertical-fit
                              el-link
                            " href="./assets/img/portafolio/cumpleanos.jpg"><i class="mdi mdi-magnify-plus"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="el-card-item">
                                <div class="el-card-avatar el-overlay-1">
                                    <img src="./assets/img/portafolio/got.jpg" alt="user" />
                                    <div class="el-overlay">
                                        <ul class="list-style-none el-info">
                                            <li class="el-item">
                                                <a class="
                              btn
                              default
                              btn-outline
                              image-popup-vertical-fit
                              el-link
                            " href="./assets/img/portafolio/got.jpg"><i class="mdi mdi-magnify-plus"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="el-card-item">
                                <div class="el-card-avatar el-overlay-1">
                                    <img src="./assets/img/portafolio/jurasic.jpg" alt="user" />
                                    <div class="el-overlay">
                                        <ul class="list-style-none el-info">
                                            <li class="el-item">
                                                <a class="
                              btn
                              default
                              btn-outline
                              image-popup-vertical-fit
                              el-link
                            " href="./assets/img/portafolio/jurasic.jpg"><i class="mdi mdi-magnify-plus"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="el-card-item">
                                <div class="el-card-avatar el-overlay-1">
                                    <img src="./assets/img/portafolio/mario.jpg" alt="user" />
                                    <div class="el-overlay">
                                        <ul class="list-style-none el-info">
                                            <li class="el-item">
                                                <a class="
                              btn
                              default
                              btn-outline
                              image-popup-vertical-fit
                              el-link
                            " href="./assets/img/portafolio/mario.jpg"><i class="mdi mdi-magnify-plus"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="el-card-item">
                                <div class="el-card-avatar el-overlay-1">
                                    <img src="./assets/img/portafolio/mimi.jpg" alt="user" />
                                    <div class="el-overlay">
                                        <ul class="list-style-none el-info">
                                            <li class="el-item">
                                                <a class="
                              btn
                              default
                              btn-outline
                              image-popup-vertical-fit
                              el-link
                            " href="./assets/img/portafolio/mimi.jpg"><i class="mdi mdi-magnify-plus"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="el-card-item">
                                <div class="el-card-avatar el-overlay-1">
                                    <img src="./assets/img/portafolio/nfl.jpg" alt="user" />
                                    <div class="el-overlay">
                                        <ul class="list-style-none el-info">
                                            <li class="el-item">
                                                <a class="
                              btn
                              default
                              btn-outline
                              image-popup-vertical-fit
                              el-link
                            " href="./assets/img/portafolio/nfl.jpg"><i class="mdi mdi-magnify-plus"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="el-card-item">
                                <div class="el-card-avatar el-overlay-1">
                                    <img src="./assets/img/portafolio/paw.jpg" alt="user" />
                                    <div class="el-overlay">
                                        <ul class="list-style-none el-info">
                                            <li class="el-item">
                                                <a class="
                              btn
                              default
                              btn-outline
                              image-popup-vertical-fit
                              el-link
                            " href="./assets/img/portafolio/paw.jpg"><i class="mdi mdi-magnify-plus"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="el-card-item">
                                <div class="el-card-avatar el-overlay-1">
                                    <img src="./assets/img/portafolio/toy.jpg" alt="user" />
                                    <div class="el-overlay">
                                        <ul class="list-style-none el-info">
                                            <li class="el-item">
                                                <a class="
                              btn
                              default
                              btn-outline
                              image-popup-vertical-fit
                              el-link
                            " href="./assets/img/portafolio/toy.jpg"><i class="mdi mdi-magnify-plus"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->

        </div>
    </div>
</main>