<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="content-wrapper">
    <app-breadcumbs></app-breadcumbs>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <router-outlet></router-outlet>
                        <!--Implementacion de los componentes con Router Module-->
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>