<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Social media -->
        <section class="mb-4">
            <a class="btn btn-outline-light btn-floating m-1 bg-dark" href="https://www.facebook.com/profile.php?id=100041258748192" target="_blank" role="button"><i
                    class="fab fa-facebook-f"></i></a>
            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1 bg-dark" href="https://www.instagram.com/michoscake1/" target="_blank" role="button"><i
                    class="fab fa-instagram"></i></a>
        </section>
        <!-- Section: Social media -->
        <!-- Section: Text -->
        <section class="mb-4">
            <p>
                Michos cake es una empresa dedicada al arte en la reposteria. Una aplia variedad de disenos y sabores traeran a ti alegria y diversion
                en cada uno de tus eventos. Gracias por visitarnos.
            </p>
        </section>
        <!-- Section: Text -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Derechos Reservados:
        <a class="text-white" href="#">MichosCake.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->