<div class="card-header">
    <div class="d-flex justify-content-between">
        <h3 class="card-title">Solicitudes Pendientes</h3>

    </div>
</div>
<div class="card-body">
    <table id="tblClientes" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Evento</th>
                <th>Telefono</th>
                <th>Direccion</th>
                <th>Estatus</th>
                <th>Fecha</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>