<main style="background-color: #dfdfe0;">
    <div class="px-4 py-5  text-center">
        <h1 class="display-5 fw-bold" style="color: rgba(0,0,0,0.55);">Hola un gusto atenderte!</h1>
        <div class="col-lg-6 mx-auto mb-4">
            <p class="lead mb-4">Gracias por visitar nuestra pagina, es un gusto tenerte con nosotros.
                a continuacion tienes las siguientes opciones a tu disposicion, esperamos vrindarte
                una excelente experiencia. Nuestros mejores deseos.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-outline-secondary btn-lg m-1">Crear una cotizacion</button>
                <button type="button" class="btn btn-outline-secondary btn-lg m-1">Ver el menu de sabores</button>
                <button type="button" class="btn btn-outline-secondary btn-lg m-1">Ver la galeria</button>
            </div>
        </div>
        <div class="col-lg-6 mx-auto">
            <a class="btn btn-outline-light btn-floating m-1 bg-dark" href="https://www.facebook.com/profile.php?id=100041258748192" target="_blank" role="button"><i
                    class="fab fa-facebook-f"></i></a>
            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1 bg-dark" href="https://www.instagram.com/michoscake1/" target="_blank" role="button"><i
                    class="fab fa-instagram"></i></a>
        </div>
    </div>

    <div class="container py-2">
        <div class="row reveal pe-lg-0 pt-lg-5 align-items-center rounded-3 py-3 border shadow-lg">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="./assets/img/presentacion/nina.jpg" class="w-100 rounded-4 shadow-4" alt="" />
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3" style="color: rgba(0,0,0,0.55);">Compartimos momentos
                    inolvidables</h1>
                <p class="lead">De la mano de tus seres queridos disfruta, rie, convive. Crea momentos
                    inolvidables en cada una de tus festividades o reuniones. Estamos para ayudarte a 
                    crear la mejor experiencia para tu y tus deres queridos.
                </p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4">Ver</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container  py-3">
        <div class="row reveal flex-lg-row-reverse align-items-center g-5 py-5 border shadow-lg">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="./assets/img/presentacion/castillo.jpg" class="w-100 rounded-4 shadow-4" alt="" />
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Nos adaptamos a tus Deseos</h1>
                <p class="lead">Nuestra amplia variedad de pasteles nos permite adaptarnos de la mejor manera
                    a cada una de tus necesidades y deseos. De la mano con nuestros sabores podemos juntos crear 
                    grandes ideas.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4">Ver</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container py-3">
        <div class="row reveal p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="./assets/img/presentacion/paw.jpg" class="w-100 rounded-4 shadow-4" alt="" />
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3" style="color: rgba(0,0,0,0.55);">Creatividad y Calidad</h1>
                <p class="lead">Trabajamos para vrindarte un servicio de gran calidad. Que el sabor en conjunto con la creatividad
                    llenen de gusto a cada uno de tus invitados.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4">Ver</button>
                </div>
            </div>
        </div>
    </div>


    <div class="container  py-3">
        <div class="row reveal flex-lg-row-reverse align-items-center g-5 py-5 border shadow-lg">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="./assets/img/presentacion/story.jpg" class="w-100 rounded-4 shadow-4" alt="" />
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Deliciosos e Increibles</h1>
                <p class="lead">Sin lugar a dudas estamos seguros que nuestro producto de hara disfrutar a tu paladar
                    de un delicioso sabor. Conose cada uno de nuestros increibles disenos en nuestro portafolio y galeria.
                </p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4">Ver</button>
                </div>
            </div>
        </div>
    </div>

</main>